<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товарищ</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#df0d0d">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="static/browserconfig.xml">
    <link rel="icon" type="image/x-icon" href='static/favicon.ico'>
    <link rel="shortcut icon" type="image/x-icon" href='static/favicon.ico'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/futura-medium" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/snowstorm" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
    .g-recaptcha {
      transform: scale(0.8);
      display: inline-block;
    }
    </style>
</head>

<body class="d-flex bg-black text-white text-center" style="background-image: url('/static/back1.png'); background-position: top center; background-repeat: no-repeat; height: 100vh; background-size: auto 150%;">
  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container-fluid" style="background-color: brown;">
          <div class="row">
            <div class="d-flex flex-wrap justify-content-center mt-3">
              <h5 class="text-white text-center" style="letter-spacing: 1px; font-family: 'Snowstorm', sans-serif">ВАЖНЕЙШЕЕ УСЛОВИЕ ПРОГРЕССА НАУКИ И ТЕХНИКИ - ПОСТОЯННОЕ СОВЕРШЕНСТВОВАНИЕ СИСТЕМЫ ПОДГОТОВКИ КВАЛИФИЦИРОВАННЫХ КАДРОВ!</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar text-center">
        <div class="container text-center">
          <div class="row d-flex flex-wrap align-items-center text-white mt-3">
            <h3 class="text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" style="font-family: 'Snowstorm', sans-serif; letter-spacing: 1px;">Автоматизированный телекоммуникационный комплекс беспроводного обмена данными "Товарищ".</h3>
          </div>
          <br>
        </div>
      </div>
    </header>
    <main class="px-3 align-items-center text-center mx-auto my-auto">
      <h1>Товарищ α* - в светлое завтра сегодня!</h1>
      <p class="lead">Мы принимаем всё, что нужно для идеального мероприятия.<br>Есть ещё кое-что, но это для чересчур одарённых, а они придут к этому сами.<br><i>Qui quaerit, reperit</i></p>
      <div class="align-items-center text-center">
        <form id="formSubmit" method='POST' class="align-items-center text-center" enctype='multipart/form-data'>
          {{form.hidden_tag()}}
          <div style="max-width: 40%; min-width: 16em;" class="mx-auto">
            <div class="input-group mb-2 mx-auto">
              <span class="input-group-text" style="font-size: 12px">Фамилия</span>
              {{form.surname(class="form-control", style="font-size: 13px", type="text", id="lname")}}
            </div>
            {{form.file(class="form-control mx-auto", style="font-size: 12px" )}}
            {% if args %}
              <div class="alert alert-dark alert-dismissible fade show mw-40 mt-2" role="alert" style="border-color: brown, background-color: brown">{{args}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            {% endif %}
            <div class="d-flex justify-content-center">{{form.recaptcha}}</div>
            {% for error in form.recaptcha.errors %}
              <div class="alert alert-danger alert-dismissible fade show mw-40" role="alert" style="border-color: brown, background-color: brown">Пожалуйста, реши капчу, дай нам понять, что ты не робот.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            {% endfor %}
            <button id="btnSubmit" type="submit" class="btn btn-primary mx-auto" style="min-width: 16em; background-color: brown; border-color: brown">Отправить файл</button>
          </div>
        </form>
      </div>
    <div class="footer mt-2 col-10 px-2 align-items-center text-center mx-auto">
      <p>* Товарищ находится в режиме альфа тестирования.<br>При возникновении трудностей пишите <a href="https://t.me/argendo" style="text-decoration: none; color: brown;">@argendo</a></p>
    </div>
    </main>
    <script>
	$('form#formSubmit').submit(function() {
		$('button#btnSubmit').attr('disabled', 'disabled');
		$('button#btnSubmit').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Отправляем...');
	});
</script>
</div>
</body>
</html>
